# Publish this into npm registry
dist

# Preview website
.contented

# Publish this into Vercel or Netlify (with https://www.npmjs.com/package/@netlify/plugin-nextjs)
.contented/.next

# Otherwise publish this into any static site capable website
.contented/.next/out
